# Compiler files
cache/
out/
coverage/

# Ignore all broadcast except for chain id 1
/broadcast/*
!/broadcast/*/
/broadcast/*/*
!/broadcast/*/1/

# Dependency directories
node_modules/
package-lock.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# echidna
echidna-corpus
crytic-export/

# logs
/.txt

diagrams/
