# Compiler files
cache/
out/
coverage/

# Ignores development broadcast logs
# !/broadcast
# !/broadcast/*/
# !/broadcast/*/1/

# /broadcast/**/dry-run/
# /broadcast/*
# /broadcast/*/*

/broadcast/
!/broadcast/*/1/  # Include directories named '1' that are two levels deep
!/broadcast/**/dry-run/  # Include any 'dry-run' directories at any level


# Dependency directories
node_modules/
package-lock.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# echidna
echidna-corpus
crytic-export/

# logs
/.txt
diagrams/

# test scripts 
/script/test
