[profile.default]
auto_detect_solc = false
src = "src"
out = "out"
solc = "0.8.19"
libs = ["lib"]
verbosity = 3
remappings = ["@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/"]
fs_permissions = [{ access = "read-write", path = "./"}]
optimizer = true
optimizer_runs = 1000
no_match_contract = "Echidna"

[profile.default.fuzz]
runs = 256

[profile.default.invariant]
runs = 20
depth = 50
fail_on_revert = true
call_override = false   # reentrancy-check

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true

[rpc_endpoints]
goerli = "${GOERLI_RPC_URL}"

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
