
ionPool: "",
ionZapper: "",
liquidation: "",
yieldOracle: "",
interestRate: "",

wstEthHandler: "",
wstEthGemJoin: "",
wstEthSpotOracle: "",
wstEthReserveOracle: "",

swEthHandler: "",
swEthGemJoin: "",
swEthSpotOracle: "",
swEthReserveOracle: "",

ethXHandler: "",
ethXGemJoin: "",
ethXSpotOracle: "",
ethXReserveOracle: "",

wEth: "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2",

wstEth: "0x7f39C581F595B53c5cb19bD0b3f8dA6c935E2Ca0",
stEth: "0xae7ab96520DE3A18E5e111B5EaAb095312D7fE84",
ethX: "0xA35b1B31Ce002FBF2058D22F30f95D405200A15b",
swEth: "0xf951E335afb289353dc249e82926178EaC7DEd78",

